
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form asp-action="Index" asp-controller="Home" method="post">
        <label>Message</label>
        <input name="message" />
        <br />
        <br />
        <button type="submit">Submit</button>
    </form>
</body>
</html>
